@model mvc_web_app.Models.Unidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proprietario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.indentificacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
