@model mvc_web_app.Models.Unidade

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Unidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.condominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.condominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proprietario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="indentificacao" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
