@model mvc_web_app.Models.inquilino

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Você tem certeza que deseja excluir?</h3>
<div>
    <h4>inquilino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
